
# Python 캐시
__pycache__/
*.pyc
*.pyo

# 환경 변수
.env

# IDE
.idea/
.vscode/

# Alembic
alembic/versions/
alembic/__pycache__/

# 이미지 및 바이너리
*.png
*.jpg
*.jpeg
*.mako

# Flutter 빌드
frontend/build/
frontend/.dart_tool/
frontend/.packages
